

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message{
  padding: 10px;
  font: 18px "Century Gothic", Futura, sans-serif;  
  background-color: rgb(155, 187, 255, 1);
  border-left:2px solid rgb(0, 0, 0, 0.5);
  border-right:2px solid rgb(0, 0, 0, 0.5);
  border-top:1px solid rgb(0, 0, 0, 0.5);
  border-bottom:1px solid rgb(0, 0, 0, 0.5);
}

.messages {
  height: 88vh;
  min-height: 0;
  display: flex;
}

.messages > div{
  flex:1;
  overflow-y: auto;
}

.hFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:10px
}

.hFlex > p {
  margin: 0;
  font-size: 20px;
  padding-right: 10px;
}

form{
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:20px;
}

input{
  font-size: 20px;
}

form > input:first-of-type{
  width: 150px;
}

form > input:nth-of-type(2){
  width: 500px;
}
